build/
out/
*.o
.history/
.DS_Store
*.a
lua
luac
*.log
Makefile
CMakeFiles/
cmake_install.cmake
*.dylib
/rebellion_host
/rebelliond
private/
src-vendor/lua-cjson
src-vendor/nlohmann-json
src-vendor/nlohmann-json-custom/json.hpp
target/
.files/
